@mixin flexRules($justify, $direction, $alignment) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $alignment;
}

.fullscreen-player-container{
    @include flexRules(center,column,center);
    width: 100%;
    height: 100%;
}