@mixin flexRules($justify, $direction, $alignment) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $alignment;
}

.film-container-positive-margin {
    margin-top: 50px;
}

.top10-film-container {
    width: 100%;
    height: 100%;
    margin-left: 80px;

    .section-title {
        font-size: 20px;
        font-weight: 600;
    }

    .flexed-container {
        @include flexRules(space-evenly, row, center);
        width: 100%;
    }

    .section-cards-container {
        height: 150px;
        position: relative;

        &::-webkit-scrollbar {
            width: 0;
            background-color: transparent;
        }

        .section-cards {
            width: 208px;
            height: 130px;
            margin-top: 10px;
            margin-right: 8px;
            border-radius: 6px;
            cursor: pointer;
            transition: all .4s ease-in-out;
            transition-delay: 300ms;
            position: relative;

            img {
                opacity: 0.7;
                transition: opacity 100ms;
                transition-delay: 100ms;
            }

            &:hover {
                transform: scale(1.6, 1.3);
                z-index: 6000;

                img {
                    opacity: 0.9;
                    transition: opacity 100ms;
                    transition-delay: 100ms;
                }

                .movie-details-container {
                    opacity: 1;
                    transition: opacity 300ms;
                    transition-delay: 300ms;
                    pointer-events: all;
                    // margin-left: '-80px' 
                }

                .numberIcons {
                    display: none;
                }

                .top10Film-fliers {
                    width: 218px;
                    height: 130px;
                    margin-right: -57px;
                }
            }

            .movie-details-container {
                @include flexRules(space-between, row, flex-start);
                background: #141414;
                width: 195px;
                height: 90px;
                border: 1px solid #202020;
                border-radius: 0 0 5px 5px;
                padding: 10px;
                border-top: none;
                opacity: 0;
                pointer-events: none;

                .rounded-icons-container {
                    @include flexRules(center, row, center);
                    border: 1px solid rgb(180, 177, 177);
                    border-radius: 50%;
                    cursor: pointer;
                    width: 18px;
                    height: 18px;
                }

                .movie-details-inner-container {
                    @include flexRules(flex-start, column, flex-start);
                    width: 80%;

                    .left-margin {
                        margin-left: 8px;
                    }

                    .movie-details {
                        @include flexRules(space-around, row, flex-start);

                        .white-background {
                            background: #fff;
                        }
                    }

                    .film-ageRating-duration {
                        @include flexRules(flex-start, row, flex-start);
                        margin-top: 10px;
                        font-size: 10px;
                    }

                    .film-genre {
                        @include flexRules(flex-start, row, center);
                        margin-top: 10px;
                        font-size: 10px;
                    }

                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        top: 30% !important;
    }

    .slick-next {
        right: 110px !important;
    }

    .slick-list {
        overflow: visible !important;
        z-index: 1000 !important;

        &:hover {
            z-index: 2000 !important;
        }
    }

    .slick-dots {
        top: -25px !important;
        right: -500px !important;
    }
    
    .slick-dots li button
    {
        width: 70px !important;
        height: 30px !important;
        color: white !important;
    }
    
    .slick-dots li button:before
    {
        font-size: 24px !important;
        font-weight: 900 !important;
        width: 70px !important;
        height: 10px !important;
    
        content: '---'!important;
        text-align: center;
    
        opacity: .25;
        color: white!important;
    }
    .slick-dots li.slick-active button:before
    {
        color: white!important;
    }
}