@mixin flexRules($justify, $direction, $alignment) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $alignment;
}

body{
    background: #141414;
    height: 100%;
}

.profile-page-container{
    @include flexRules(center,column,center);
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 850px;

    .header{
        color: #fff;
        font-size: 52px;
        font-weight: 500;
    }

    .profiles-btn{
        @include flexRules(center,'',center);
        border: 1px solid grey;
        color: grey;
        font-size: 18px;
        width: 190px;
        margin-top: 72px;
        
        &:hover{
            border: 1px solid #fff;
            color: #fff;
            font-size: 18px;
        }
    }

    .profile-cards-container{
        @include flexRules(space-evenly,row,center);
        width: 50%;
        flex-wrap: wrap;
        margin-top: 32px;

        .profile-cards{
            @include flexRules(center,column,center);
            color: grey;
            cursor: pointer;
            transition: all .8s ease-in-out;

            &:hover{
                color: #fff;
                transform: scale(1.05); 


            .profile-icon{
                border: 1px solid #fff;
            }
            }

            .profile-icon{
                @include flexRules(center,'',center);
                border: 1px solid grey;
                border-radius: 8px;
                width: 200px;
                height: 180px;
            }

            .profile-name{
                margin-top: 12px;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

   
}